= render partial: 'shared/header'
%div.container-fluid
  %div.row
    %h1.jumbotron(align:right)  Poojas
    %div.col-xs-12.col-sm-12
      %div.list-group.poojas
      - @poojas.each do |p|
        /%a(href="poojas/#{p.id}") #{p.id}
        =link_to p.Title,poojas_pooja_path(p.id) ,{class:"list-group-item list-group-item-action"}
= will_paginate @poojas
