!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome to example.com, #{@user.email}
    %p
      You have successfully signed up to example.com,
      your username is: #{@user.email}.
      %br/
    %p
      To login to the site, just follow this link: #{request.base_url}+'/emails?email='+@user.email+'&token='+@user.email_confirm_token}.
    %p Thanks for joining and have a great day!
    %p HpultimatemediaGroup Product
    %p Pune
