%nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => "#myNavbar", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} EPooja
    #myNavbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          %a{href: ""} Home
        %li
          %a{:href => "#"} Page 1
        %li
          %a{:href => "#"} Page 2
        %li
          %a{:href => "#"} Page 3
      %ul.nav.navbar-nav.navbar-right
        -if current_user
          %li
            %a{href: "#"} Welcome #{current_user.email}
          %li
            = link_to('Logout', destroy_user_session_path, method: :delete)
        -else
          %li
            = link_to "SignUp",new_user_registration_path
          %li
            = link_to "Login",new_user_session_path
%br
