= render partial: "shared/header"

%br
%br
%div.container
  %div.row{align: "center"}
    = image_tag("bag.png", alt: "bag image", class: "img-thumbnail bag rounded mx-auto d-block")
  %br
  %div.row{align: "center"}
    %p
      %b Nothing to Display in the Cart
  %div.row{align: "center"}
    %p
      %b
        %q Hope to see you soon
  %div.row{align: "center"}
    = link_to "Continue",poojas_index_path, class: "btn btn-success"
