%br
%div.container-fluid.card
  %div.row
    %div{align: "center"}
      = image_tag("emailsent", alt: "email sent", class: "img-responsive emailsent")
  %div.row
    %div.col-sm-offset-2.col-xs-offset-2.col-sm-8.col-xs-8
      %h3
        %b A verification link is sent to your email account
        %hr{color: "red"}/
  %div.row
    %div.col-sm-offset-2.col-xs-offset-2.col-sm-8.col-xs-8
      %p
        %b Please click on the link that has just been sent to your email account to verify your email and continue the registration process.
